@model MunDev.Models.Repositorio

@{
    ViewData["Title"] = "Detalles del Repositorio";
}

<h1 class="display-4 mb-4 text-primary">
    <i class="bi bi-info-circle"></i> @ViewData["Title"]
</h1>

<h4 class="mb-3">Información Completa</h4>
<hr />

<div class="card shadow-sm p-4">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NombreRepositorio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NombreRepositorio)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RepositorioUrl)
        </dt>
        <dd class="col-sm-9">
            <a href="@Model.RepositorioUrl" target="_blank" rel="noopener noreferrer">
                @Html.DisplayFor(model => model.RepositorioUrl)
                <i class="bi bi-box-arrow-up-right ms-1"></i> @* Icono de enlace externo *!*@
            </a>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Proyecto.NombreProyecto) @* Muestra el nombre del proyecto *!*@
        </dd>
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.RepositorioId" class="btn btn-warning">
        <i class="bi bi-pencil-square"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary ms-2">
        <i class="bi bi-arrow-left"></i> Volver a la Lista
    </a>
</div>
